* {
	padding: 0;
	margin: 0;

}

body {
	display: flex;
	flex-direction: column;

}

.imgM {
	width: 96%;
	margin: 20px auto;
	height: 70vh;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.box {
	width: 90%;
	background-color: #f9edde;

	margin: 20px auto;
	padding: 15px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

/* pricing */
.colums
{
	display: flex;
}
.columns {
	float: left;
	width: 33.3%;
	padding: 8px;
  }
  
  .price {
	list-style-type: none;
	border: 1px solid #eee;
	margin: 0;
	padding: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
  }
  
  .price:hover {
	box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header {
	background-color: #111;
	color: white;
	font-size: 25px;
  }
  
  .price li {
	border-bottom: 1px solid #eee;
	padding: 20px;
	text-align: center;
  }
  
  .price .grey {
	background-color: #eee;
	font-size: 20px;
  }
  
  .button {
	background-color: #04AA6D;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
  }
  
  @media only screen and (max-width: 600px) {
	.columns {
	  width: 100%;
	}
  }
